body{
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 40px;
}

h2{
    font-size:28px;
}

h3{
    font-size: 26px;
}

h4{
    font-size:20px;
}

h5{
    font-size:18px;
}
p{
    font-size:15px;
}

.b_weight{
    font-weight: 700;
    margin:0 0 0.5em 0;
}

.l_weight{
    font-weight: 500;
    color:rgb(63, 63, 63);
}

.main_head{
    background-image: url("assets/main_img.jpg");
    height: 780px;

    h1{
        font-size: 50px;
    }

    h4{
        font-size: 22px;
    }
}

.head_logo{
    margin-top: 45px;
}
.head_sub_content{
    position: relative;
    border:1px solid rgba(68, 0, 255, 0);
}
.blue_bg{
    position: absolute;
    left:0;
    padding: 0;
    border:1px solid rgba(34, 139, 34, 0);

    img{
        max-width: 85%;   
    }
}

.head_head_and_button{
    position: relative;
    z-index: 10;
    margin-top: 25vh;
    margin-left: 12%;
    border:1px solid rgba(255, 235, 205, 0);

    h4 {
        margin: 25px 0 35px 0;
    }
}


@media (max-width: 992px ) and (min-width: 768px){
    .main_head{
        background-position: 50%;
        height: 780px;
    }

    .blue_bg{
    
        img{
            max-width: 100%;   
        }
    }

    .head_head_and_button{
        margin-top: 200px;
    }
}
@media screen and (max-width: 768px){
    .blue_bg{
        display: none;
    }

    .main_head{
        background-position: 50%;
    }

    .head_logo{
        display: flex;
        justify-content: center;
    }
    .head_head_and_button{
        margin-top: 15vh;
        margin-left: 0;
        text-align: center;

        .button_apply_now{
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.button_apply_now{
    background-image: url("assets/apply-now.svg");
    background-repeat: no-repeat;
    background-position: 80% 50% ;
    background-color: whitesmoke;
    border-radius: 35px;
    width: fit-content;
    font-size: 18px;
    padding: 15px 90px 15px 40px;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .text_center{
        text-align: center;
    }

    .network_img_1{
        background-image: url("assets/right\ network.svg");
        background-repeat: no-repeat;
        background-position: top right;
    }

    
}

.text_center_us{
    text-align: center;
}

.color_white{
    color: white;
}

.color_grey_white{
    color: rgb(175,175,175);
}

.margin_auto{
    margin-right: auto;
    margin-left: auto;
}

.does_it{
    position: absolute;
    margin: 0 0 20% 0;
    max-width: 100%;
    z-index: -1;
}
.network_reward{
    padding-bottom:  90px;

    .row{
        padding-top: 90px;
    }

    div div{
        padding: 0 3%;
    }
}

.how_it_work{
    padding: 6% 0 0 0;
}
.steps{
    margin: 6vw 0;
}

.steps_sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    img{
        position: absolute;
    }

    :hover{
        background: #FF6E43;
        color: white;
    }
}
.steps_content{
    margin-top: 90px;
    padding: 10px;
    border-radius: 5px;
}

.perks{
    display: flex;
    align-items: baseline;
    padding: 0.7em 1em;

    img{
        max-width: 10px;
        margin: 0 15px 0 0;
    }

    p{
        margin:0;
    }
}

.perks_border{
    border-top: 1px solid rgba(192,192, 192,0.473);
    border-bottom: 1px solid rgba(192,192, 192,0.473);
}

.contact_us{
    margin: 15vh 0  10vh 0;
    padding:0 60px;
    background-image:url("assets/contact-form-bg.jpg");
    background-position: 50% 50%;
    height: 100vh;
}

.input_name, .input_email, .input_linkdin{
    position: absolute;
}
@media screen and (max-height:700px) {
    .contact_us{
        min-height: 700px;
    }
    
}

.contact_us_header{
    margin-top: 70px;
}

.contact_us_header >*{
    margin-bottom: 1em;
}

.faq{
    margin: 0 0 8vh 0;
}

.faq_item{
    max-width: 100%;
    margin-top: 1em;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;
}

.faq_down_arrow{
    background-image: url("assets/faq.svg");
    background-repeat: no-repeat;
    background-position: center right;    
}

.faq_up_arrow{
    background-image: url("assets/faq2.svg");
    background-repeat: no-repeat;
    background-position: center right;
    display: none;
}

.input_group{
    max-width: 530px;
    margin: 25px auto;

  
}

.input_group_sub{
    max-width: 550px;
    margin: 5px auto ;
}

.contact_input{
    width: 100%;
    border-bottom: 2px solid rgb(226, 226, 226);

    input,textarea{
        margin-left: 15px;
        background:none;
        outline: none;
        border:none;
        color:whitesmoke;
        font-size:20px;
    }

    &.bot_mar{
        margin: 0 0 60px  0;
    }
}

.contact_name{
    border-bottom: 2px solid rgb(47, 47, 196); 
}

.contact_input input{
    width:100%;
    height: 40px;
    display: flex;
}

input:focus, textarea:focus{
    outline: none;
    border: none;
}

input:hover, textarea:hover{
    cursor: pointer;
}



.b{
    margin-top: 40px;
}

@media (max-width: 805px) and (min-width:543px){
    .contact_us_header h1{
        margin-bottom: 10px;
    }
}

@media (max-width: 540px) and (min-width:475px){

    .b{
        margin-top: 5px;
    }

    .contact_input{
           
        &.bot_mar{
            margin: 0 0 40px  0;
        }
    }

}

@media (max-width: 475px) {
    .contact_us{
        h1{
            font-size: 28px;
        }

        h3{
            font-size: 18px;
        }

        p{
            font-size: 15px;
        }

        padding: 5%;
    }

    .contact_input{
        &.bot_mar{
            margin: 0 0 40px 0;
        }
    }

    .input_group_sub{
        max-width: 100%;
    }

    .main_head{
        height: 100vh;
    }
}