body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

.b_weight {
  font-weight: 700;
  margin: 0 0 0.5em 0;
  color: #242635;
}

.l_weight {
  font-weight: 600;
  color: #3f3f3f;
}

.main_head {
  background-image: url("assets/main_img.jpg");
  height: 780px;
}

.main_head h1 {
  font-size: 50px;
}

.main_head h4 {
  font-size: 22px;
}

.head_logo {
  margin-top: 45px;
}

.head_sub_content {
  position: relative;
  border: 1px solid rgba(68, 0, 255, 0);
}

.blue_bg {
  position: absolute;
  left: 0;
  padding: 0;
  border: 1px solid rgba(34, 139, 34, 0);
}

.blue_bg img {
  max-width: 600px;
}

.head_head_and_button {
  position: relative;
  z-index: 10;
  margin-top: 25vh;
  margin-left: 10%;
  border: 1px solid rgba(158, 129, 85, 0);
}

.head_head_and_button h4 {
  margin: 25px 0 35px 0;
}

.head_head_and_button h1 {
  font-weight: 600;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .head_head_and_button h4 {
    margin: 25px 0 35px 0;
  }
  .head_head_and_button h1 {
    font-size: 45px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .main_head {
    background-position: 50%;
    height: 780px;
  }
  .blue_bg img {
    max-width: 100%;
  }
  .head_head_and_button {
    margin-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .blue_bg {
    display: none;
  }
  .main_head {
    background-position: 50%;
  }
  .head_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .head_head_and_button {
    margin-top: 15vh;
    margin-left: 0;
    text-align: center;
  }
  .head_head_and_button .button_apply_now {
    margin-right: auto;
    margin-left: auto;
  }
}

.orange_arrow, .white_arrow {
  position: absolute;
  top: 35%;
  left: 160px;
}

.button_apply_now {
  position: relative;
  background-color: whitesmoke;
  border-radius: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  padding: 15px 90px 15px 40px;
  cursor: pointer;
}

.button_hover :hover {
  background-color: #FF6E43;
  color: white;
}

.button_hover :hover .orange_arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .text_center {
    text-align: center;
  }
  .network_img_1 {
    background-image: url("assets/right network.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.text_center_us {
  text-align: center;
}

.color_white {
  color: white;
}

.color_grey_white {
  color: #D9DAE4;
}

.color_black {
  color: #242635;
}

.margin_auto {
  margin-right: auto;
  margin-left: auto;
}

.does_it {
  position: absolute;
  margin: 0 0 20% 0;
  max-width: 100%;
  z-index: -1;
}

.network_reward {
  padding-bottom: 90px;
}

.network_reward .row {
  padding-top: 90px;
}

.network_reward div div {
  padding: 0 3%;
}

.does_it_work_bg {
  background-image: url("assets/does it Work br.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.how_it_work {
  padding-top: 6%;
}

.steps {
  margin: 6vw 0;
}

.steps_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.steps_sub img {
  position: absolute;
}

.steps_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps_hover :hover {
  background: #FF6E43;
  color: white;
}

.trans_duration {
  -webkit-transition-duration: 7000ms;
          transition-duration: 7000ms;
}

.steps_content {
  margin-top: 90px;
  padding: 10px;
  border-radius: 5px;
  min-height: 180px;
}

.perks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0.7em 1em;
}

.perks img {
  max-width: 10px;
  margin: 0 15px 0 0;
}

.perks p {
  margin: 0;
}

.perks_border {
  border-top: 1px solid rgba(192, 192, 192, 0.473);
  border-bottom: 1px solid rgba(192, 192, 192, 0.473);
}

.contact_us {
  margin: 15vh 0  10vh 0;
  padding: 0 60px;
  background-image: url("assets/contact-form-bg.jpg");
  background-position: 50% 50%;
  height: 100vh;
}

.input_name, .input_email, .input_linkdin {
  position: absolute;
  display: inline-block;
}

.input_name_2, .input_email_2, .input_linkdin_2 {
  position: absolute;
  display: inline-block;
}

@media screen and (max-height: 700px) {
  .contact_us {
    min-height: 800px;
  }
}

.contact_us_header {
  margin-top: 70px;
}

.contact_us_header > * {
  margin-bottom: 1em;
}

.faq {
  margin: 0 0 8vh 0;
}

.faq_item {
  max-width: 100%;
  margin-top: 1em;
  border-bottom: 1px solid silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq_down_arrow {
  background-image: url("assets/faq.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.faq_up_arrow {
  background-image: url("assets/faq2.svg");
  background-repeat: no-repeat;
  background-position: center right;
  display: none;
}

.input_group {
  max-width: 530px;
  margin: 25px auto;
}

.input_group_sub {
  max-width: 550px;
  margin: 5px auto;
}

.contact_input {
  width: 100%;
  border-bottom: 2px solid #e2e2e2;
}

.contact_input input, .contact_input textarea {
  margin-left: 15px;
  background: none;
  outline: none;
  border: none;
  color: whitesmoke;
  font-size: 20px;
}

.contact_input.bot_mar {
  margin: 0 0 60px  0;
}

.contact_input input {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  padding-left: 18px;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 18px;
}

:-ms-input-placeholder {
  color: white;
  font-size: 18px;
}

::-ms-input-placeholder {
  color: white;
  font-size: 18px;
}

::placeholder {
  color: white;
  font-size: 18px;
}

.contact_name input:focus, textarea:focus {
  outline: none;
  border-bottom: 3px solid #2d2dff;
  -webkit-transform: translate(-15px, 3px);
          transform: translate(-15px, 3px);
  padding-left: 33px;
}

input:hover, textarea:hover {
  cursor: pointer;
}

.b {
  margin-top: 40px;
}

@media (max-width: 805px) and (min-width: 543px) {
  .contact_us_header h1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) and (min-width: 475px) {
  .b {
    margin-top: 5px;
  }
  .contact_input.bot_mar {
    margin: 0 0 40px  0;
  }
}

@media (max-width: 475px) {
  .contact_us {
    padding: 5%;
  }
  .contact_us h1 {
    font-size: 28px;
  }
  .contact_us h3 {
    font-size: 18px;
  }
  .contact_us p {
    font-size: 15px;
  }
  .contact_input.bot_mar {
    margin: 0 0 40px 0;
  }
  .input_group_sub {
    max-width: 100%;
  }
  .main_head {
    height: 100vh;
  }
}

.footer_foot {
  padding: 35px 0;
  color: #5F5F5F;
  line-height: 19px;
  font-size: 16px;
  font-weight: 200;
  font-weight: 200;
}

.footer_foot strong {
  color: #FF6E43;
}

.footer_neo, .footer_terms_of_service {
  text-align: center;
}

@media (min-width: 768px) {
  .footer_neo {
    text-align: left;
  }
  .footer_terms_of_service {
    text-align: right;
  }
}

button, button :focus {
  border: none;
  outline: none !important;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid silver;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion:hover {
  background-color: #ccc;
}

.active {
  border: none;
  outline: none;
}

.active .faq_down_arrow {
  display: none;
}

.active .faq_up_arrow {
  display: block;
}

.panel {
  padding: 5px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  color: #FF6E43;
}

.accordion_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion_col .col .col-lg-6 {
  min-width: 100%;
}

.accordion_col_2 {
  display: none;
}

@media (max-width: 992px) {
  .accordion_col {
    display: none;
  }
  .accordion_col_2 {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */